---
import { renderTablerIcon, type TablerIconName } from "./icons/tabler";

interface Props {
  className?: string;
  name:
    | "arrow-right"
    | "astro"
    | "code"
    | "copy"
    | "core"
    | "css"
    | "globe"
    | "json"
    | "play"
    | "plus"
    | "preact"
    | "settings-automation"
    | "react"
    | "moon"
    | "menu"
    | "spark"
    | "sun"
    | "tailwind"
    | "trash"
    | "triangle-down"
    | "triangle-up"
    | "vanilla"
    | "vue"
    | "x";
  title?: string;
}

const { className, name, title } = Astro.props as Props;

const tablerNameMap = {
  "arrow-right": "arrow-right",
  astro: "brand-astro",
  code: "code",
  copy: "copy",
  core: "package",
  css: "brand-css3",
  globe: "world",
  json: "json",
  menu: "menu-2",
  moon: "moon",
  play: "player-play",
  plus: "plus",
  preact: "atom-2",
  "settings-automation": "settings-automation",
  react: "brand-react",
  spark: "sparkles",
  sun: "sun",
  tailwind: "brand-tailwind",
  trash: "trash",
  "triangle-down": "caret-down",
  "triangle-up": "caret-up",
  vanilla: "brand-javascript",
  vue: "brand-vue",
  x: "x"
} as const satisfies Record<Props["name"], TablerIconName>;
---

<span set:html={renderTablerIcon(tablerNameMap[name], { className, title })}></span>
